.git/
.husky/
.idea/
docs/
out/
dist/
out-tsc/
node_modules/
build/
coverage/
package-lock.json
yarn.lock

playwright/test-results/
playwright/html-results/
playwright/playwright-report/
playwright/playwright/.cache/
playwright/allure-report/
playwright/allure-results/
