.wrapper {
  .title {
    margin: 20px 0;
    text-align: center;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    margin: 20px 0;
    height: calc(100vh - 250px);
    overflow: auto;

    p-card {
      width: 290px;
      margin: 10px;
    }
  }
}
