.wrapper {
  .title {
    margin: 20px 0;
    text-align: center;
  }

  main {
    width: 800px;
    margin: 0 auto;
  }

  .post-creation {
    display: flex;
    flex-direction: column;
  }

  .posts-cnt {
    margin: 20px 0;
  }
}
